{layout layout.latte}
{block content}

    Hello {$foo}
    {var $num = 100}
    {foreach [1,2,3,4,5,6,7,8,9,10] as $num}
        {if $num % 2 === 0}
            {$num}
        {/if}
    {/foreach}
    {$num}

    {var $x = true}
    <div n:if="$x">x is true</div>

    {define myBlock}
        <p>This is my block with some variable {$y}</p>
    {/define}

    {include myBlock y => 'foobar'}

    <div title="{$title}">Div with empty title</div>
