<h1>Livewire component multiple</h1>
{livewire livewire-component}
{livewire livewire-component}
{livewire livewire-component}
{livewire livewire-component key => lorem}
{livewire livewire-component key: ipsum}