{translate}messages.welcome{/translate}
{translate}The action was completed successfully.{/translate}
{translate [name: john]}messages.greeting{/translate}
{translate [name: tom]}messages.bye{/translate}
{translate 1}messages.apples{/translate}
{translate 2}messages.apples{/translate}
{translate 10}messages.apples{/translate}
{translate 0}messages.pears{/translate}
{translate 2}messages.pears{/translate}
{translate 25}messages.pears{/translate}
{translate 1, [value: 1]}messages.minutes_ago{/translate}
{translate 2, [value => 2]}messages.minutes_ago{/translate}
{translate 10, [value => 10]}messages.minutes_ago{/translate}
{translate 0}messages.count{/translate}
{translate 1}messages.count{/translate}
{translate 10}messages.count{/translate}