{_'messages.welcome'}
{_'The action was completed successfully.'}
{_'messages.greeting', [name: john]}
{_'messages.bye', [name: tom]}
{_'messages.apples', 1}
{_'messages.apples', 2}
{_'messages.apples', 10}
{_'messages.pears', 0}
{_'messages.pears', 2}
{_'messages.pears', 25}
{_'messages.minutes_ago', 1, [value: 1]}
{_'messages.minutes_ago', 2, [value => 2]}
{_'messages.minutes_ago', 10, [value => 10]}
{_'messages.count', 0}
{_'messages.count', 1}
{_'messages.count', 10}