<div n:translate>messages.welcome</div>
<div n:translate>I love programming.</div>
<div n:translate="[name: john]">messages.greeting</div>
<div n:translate="[name: tom]">messages.bye</div>
<div n:translate="1">messages.apples</div>
<div n:translate="2">messages.apples</div>
<div n:translate="10">messages.apples</div>
<div n:translate="0">messages.pears</div>
<div n:translate="2">messages.pears</div>
<div n:translate="25">messages.pears</div>
<div n:translate="1, [value: 1]">messages.minutes_ago</div>
<div n:translate="2, [value => 2]">messages.minutes_ago</div>
<div n:translate="10, [value => 10]">messages.minutes_ago</div>
<div n:translate="0">messages.count</div>
<div n:translate="1">messages.count</div>
<div n:translate="10">messages.count</div>